html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    scrollbar-color: #333333 #111111;
}

body {
    /** background image */
    background-image: url("../cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
